<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- These specify which type of users can access each URL -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/welcome**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/blockList" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/friendList" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/outstandingRequests" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/userList" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/userWall" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/users" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />

		<!-- If the user has no access to the specified resource they will be sent to the 403 page -->
		<access-denied-handler error-page="/403" />

		<!-- Form login specifications -->
		<form-login
				login-page="/login"
				default-target-url="/welcome"
				authentication-failure-url="/login?error"
				username-parameter="username"
				password-parameter="password" />
		<logout logout-success-url="/login?logout" />
		<csrf />
	</http>

	<!-- Shows Annotations are in use -->
	<tx:annotation-driven></tx:annotation-driven>

	<!-- Links to User Authentication Class to authenticate or fail user -->
	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailsService" >
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>